<nav class="navbar">
  <a routerLink="/home">
    <h1 class="text-logo"><img src="assets/logo-full.jpg" width="120" height="40" style="vertical-align:middle" id="logo"/></h1>
  </a>
  <div class="search-container">
    <input type="text" placeholder="Поиск...">
  </div>
  <div class="menu">
    <ul class="list">
      <li><a routerLink="/home">Главная</a></li>
      <li><a routerLink="/about">О нас</a></li>
      <li><a routerLink="/new-chanell">Создать канал</a></li>
      <li><a routerLink="/new-post">Создать блог</a></li>
      <li><a routerLink="/mang">Управление каналами</a> </li>
      <button class="login-button" routerLink="/login">Войти</button>
    </ul>
  </div>
</nav>
