.about {
  max-width: 600px;
  margin: 70px 0 0 80px;
  text-align: left;
  float: left;
}

p {
  font-size: 1.2rem;
  line-height: 1rem;
  color: #888888;
}

.button {
  display: inline-block;
  padding: 1rem 8rem;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-top: 30px;
}

.button:hover {
  background-color: #1500ff;
  color: #fff;
  transform: scale(1.1);
}

.text{
  color: #1500ff;
  display: inline-block;
  font-size: 65px;
  margin-bottom: 1rem;
  font-family: Bahnschrift;
  font-weight: bold;
}


img {
  width: 660px;
  height: 500px;
  margin: 80px 50px 50px;
  float: right;

  border: 5px groove rgba(28,110,164,0.7);
  border-radius: 40px;
}

