<div class="about">
  <h1 class="text">О нас</h1>
  <p>Добро пожаловать на наш сайт!</p>
  <p>Здесь вы найдете множество интересных и полезных статей на самые разные темы - от культуры и науки до кулинарии и путешествий.</p>
  <p>Наша команда работает над тем, чтобы каждый посетитель нашего сайта мог найти здесь что-то для себя.</p>
  <p>Вы также можете создавать свои собственные посты и делиться ими с другими пользователями.</p>
  <p>Мы надеемся, что наш сайт будет полезен для вас и принесет много интересного и полезного чтения!</p>
  <p>Сделали это: Рамзес, Диас, Настя</p>
  <a href="https://github.com/Larionova-Anastassiya/Hadzen/tree/main" class="button">Наш Github</a>
</div>
<img src="/assets/about.png">
