#newPost{
  background-color: white;

  border-radius: 25px;

  margin: 10px;

  -webkit-box-shadow: 0px 5px 14px -4px rgba(34, 60, 80, 0.21);
  -moz-box-shadow: 0px 5px 14px -4px rgba(34, 60, 80, 0.21);
  box-shadow: 0px 5px 14px -4px rgba(34, 60, 80, 0.21);
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
h1 {
  font-size: 27px;
  font-weight: bold;
  text-align: left;
  margin-left: 30px;
  margin-top: 30px;
  padding: 50px 50px 0;
  color: orangered;
}

#blog-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px 50px;
}

#blog-form label {
  font-size: 18px;
  margin-bottom: 10px;
}

#blog-form input[type="text"],
#blog-form {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 50px;
  font-size: 16px;
  resize: none;
}
#blog-text{
  width: 100%;
  padding: 10px;
  height: 200px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
}
#blog-name{
  width: 100%;
}

#blog-form input[type="file"] {
  margin-bottom: 20px;
}

#blog-form button[type="submit"] {
  padding: 10px 30px;
  background-color: #008CBA;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#blog-form button[type="submit"]:hover {
  background-color: #00698C;
}

#blog-name{
  flex-direction: row;
}
/* Стили для кнопки */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

