/* стили для контейнера поста */
.post-container {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* изменено на вертикальное расположение */
}

/* стили для контента поста */
.post-content {
  flex: 1;

}

/* стили для заголовка поста */
.post-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* стили для текста поста */
.post-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* стили для изображения поста */
.post-image-container {
  max-width: 50%;
  height: auto;
  margin-top: 20px; /* изменено на верхний отступ */
}

.post-image {
  max-width: 100%;
  height: auto;
}

/* стили для информации о посте */
.post-info {
  font-size: 14px;
  margin-bottom: 10px;
}

/* стили для контейнера комментария */
.comment-container {
  margin-top: 20px; /* изменено на верхний отступ */
}

/* стили для контента комментария */
.comment-content {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

/* стили для информации о комментарии */
.comment-info {
  font-size: 12px;
  margin-top: 5px;
}

/* стили для кнопок лайков и дизлайков */
.comment-likes {
  margin-right: 10px;
}

.comment-dislikes {
  margin-right: 10px;
  color: red;
}
.inner-img {
  margin-top: 1em;
  width: 40%;
  box-shadow: 5px 5px 5px #888888;
}
.inner-img:hover{
  filter: brightness(1.2);
}
.lds {
  height: 1em;
  width: 1em;

}
.subscribe-button {
  background-color: orange;
  color: #000000;
  border: none;
  height: 3em;
  width: 9em;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.subscribe-button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}
.sub {
  margin-top: 12em;
}
.lds:hover{
  filter: brightness(150%) saturate(120%) hue-rotate(190deg);
}
