<div class="post-container" *ngFor="let blog of blogs">
  <div class="post-content">
    <a routerLink="/posts/{{blog.blog_detail.id}}">
   <h1 class="post-title">{{ blog.blog_detail.name }}</h1>
    <img class="inner-img" src="{{blog.blog_detail.img}}" style="height: 300px;width: auto">
    </a>
    <div class="post-info">
      <div style="display: flex;
                    justify-content: space-between;
  align-items: center;">
        <div>
          <p><img src="{{blog.img}}" style="height: 40px;width: 40px;border-radius: 50%;cursor: pointer; opacity: 0.8"> {{ blog.chanell }}</p>
          <p style="font-size: 12px">Кол-во подписчиков: {{blog.subs}}</p>
        </div>
        <button class="subscribe-button">Подписаться</button>
      </div>
      <p>
        {{blog.blog_detail.text_in.slice(0,500)}}
      </p>
      <div style="display: flex;gap: 20px">
      <p (click)="sendLDS(blog.blog_detail.id,1)" style="cursor: pointer; opacity: 0.8" ><img class="lds" src="assets/like.jpg"> {{ blog.like_count }}</p>
      <p (click)="sendLDS(blog.blog_detail.id,2)" style="cursor: pointer; opacity: 0.8"><img class="lds" src="assets/dislike.jpg">{{ blog.dis_count}}</p>
      <p (click)="sendLDS(blog.blog_detail.id,3)" style="cursor: pointer; opacity: 0.8"><img class="lds" src="assets/share.jpg"> {{ blog.share_count }}</p>
      </div>
      <p>
        {{blog.blog_detail.date|date}}
      </p>
<!--      <p>Date: {{ blog. | date }}</p>-->
    </div>
<!--    <p class="post-text">{{ blog.content }}</p>-->
<!--    <div class="post-image-container">-->
<!--      <img class="post-image" [src]="blog.img" alt="{{ blog.title }}">-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="comment-container" *ngFor="let comment of blog.comments">-->
<!--    <div class="comment-content">-->
<!--      <p>{{ comment.user }} says: {{ comment.text }}</p>-->
<!--      <div class="comment-info">-->
<!--        <p class="comment-likes">{{ comment.like }} likes</p>-->
<!--        <p class="comment-dislikes">{{ comment.dis }} dislikes</p>-->
<!--        <p>Date: {{ comment.date | date }}</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
</div>
